name: Container
on: push

jobs:
  docker-steps:
    runs-on: ubuntu-latest
    steps:
      - name: login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Log node version
        run: node -v
      - name: Step with docker
        uses: docker://node-17.1-alpine3.12
        with:
          entrypoint: /bin/echo
          args: Hello World
      - name: Log node version in docker
        uses: docker://node-17.1-alpine3.12
        with:
          entrypoint: /usr/local/bin/node
          args: -v
      - name: Logout from Dockerhub
        uses: docker/login-action@v1
        with:
          logout: true
  node-docker:
    runs-on: ubuntu-latest
    services:
      app:
        image: alialaa17/node-api
        ports:
          - 3001:3000
      mongo:
        image: mongo
        ports:
          - "27017:27017"
    steps:
      - name: POST a user
        run:
          'curl -X POST http://localhost:3001/api/user -H ''Content-Type: application/json''
          -d '' {"username": "hello", "address": "dudestreet"}'''
      - name: GET users
        run: curl http://localhost:3001/api/users
