# The name of our workflow
name: Shell Commands

# The 'on' keyword determines which event(s) will trigger the workflow, for example on: [push, pull_request] ect.
on: [pull]

# The jobs section holds all the jobs that the workflow will do.
jobs:
  # The name of the job
  run-shell-command:
    # Choose the VM the workflow will run on
    runs-on: ubuntu-latest
    # The steps that the workflow will go through
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: multiline script
        # The pipe '|' character lets us do several lines of scripting in one 'run'
        run: |
          node -v
          npm -v
        # Demonstrating how to run a script in a different shell, here in python
      - name: python command
        run: |
          import platform
          print(platform.processor())
        shell: python

  # This is another job that will run in parallel with the other jobs,
  # unless the 'needs' key has demands.
  run-windows-commands:
    runs-on: windows-latest
    # the 'needs' key tells the job which other jobs needs to complete, before it should run
    needs: [run-shell-command]
    steps:
      - name: Directory PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: Bash
